@tailwind base;
@tailwind components;
@tailwind utilities;
.light-toast {
    background-color: #f0f0f0 !important;
    color: #000 !important;
}

.dark-toast {
    background-color: #333 !important;
    color: #fff !important;
}
